/*  your css code here. If applicable */
 body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #282c34;
        }

        .container {
            display: flex;
        }

        .panel {
            flex: 1;
            overflow: hidden;
            transition: flex 0.7s ease-in-out;
        }

        .panel img {
            width: 100%;
            cursor: pointer;
        }

        .img-text {
            text-align: center;
            color: #fff;
            font-size: 20px;
            margin-top: 10px;
        }

        .panel.active {
            flex: 5;
        }